@charset "UTF-8";

/*共通*/
* {
    color: #003366;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*エラー時テキストボックス*/
.errorTextbox {
    background-color: #F8CBAD;
    border: 1px solid red;
    margin-left: 30px;
    font-size: 20px;
}

/*エラーアラート*/
#errorAlert {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* 横方向で中央に配置 */
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    z-index: 5005;
    width: 40%;
    height: auto;
    min-height: 80px;
    font-family: Arial, sans-serif;
}

/*エラーメッセージのスタイル*/
.errorMessage {
    color: red;
    font-size: 20px;
    margin-bottom: 5px;
}

/*OKボタンのスタイル*/
#okButton {
    padding: 10px 30px;
    background-color: #2589d0;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
}

#okButton:hover {
    background-color: #1579c0;
}

/*オーバーレイ*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5005;
}

/*ヘッダー*/
header {
    background-color: #003366;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    padding-left: 5px;
    line-height: 80px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5001;
}

.header-title {
    color: #FFFFFF;
    margin-left: 5px;
    font-size: 25px;
}

.header-name {
    margin-right: 10px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: right;
    position: absolute;
    right: 10px;
}

/*フッター*/
footer {
    background-color: rgba(255, 255, 255, 0.562);
    border-top: solid 1px #003366;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    text-align: right;
    line-height: 80px;
    position: absolute;
    bottom: 0;
    left: 10px;
    position: fixed;
    display: flex;
    z-index: 5001;
}

footer .left {
    text-align: left;
}

footer .right {
    position: absolute;
    right: 10px;
    text-align: right;
}

.display-inline {
    display: inline;
}

/*メイン・レイアウト*/
.container {
    display: block;
    margin: 80px 60px;
}

.container_login {
    width: 50%;
    height: 50%;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    margin-left: 5%;
}

/*メインを二分割*/
.colmun {
    width: 100%;
    display: flex;
}

@media screen and (max-width: 767px) {
    .colmun {
        flex-direction: column;
    }
}

.content_left,
.content_right {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.search_content_left {
    width: 500px;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.search_content_right {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content_left {
    margin: 0 20px 20px 0;
}

.content_right {
    margin: 0 0 20px 20px;
}

@media screen and (max-width: 767px) {

    .content_left,
    .content_right {
        margin: 0;
    }
}

.content_right.center {
    align-items: center;
}

.content_right input {
    margin-left: 20px;
}


/*ラベルとテキストボックス*/
.colmun_common {
    width: 600px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.left_label {
    width: 200px;
    height: auto;
    margin: 0 5px 0 0;
    display: flex;
    flex-direction: column;
}

.right_textbox {
    width: 400px;
    height: auto;
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
}

/*検索画面カラムレイアウト*/
.search_colmun_common {
    width: 100%;
    height: auto;
    margin: 0;

    .right_textbox {
        width: 100%;
        height: auto;
        margin: 0 0 0 5px;
        display: flex;
        flex-direction: column;
    }
}

.left_label {
    text-align: right;
}

.colmun_common input,
.colmun_common select,
.colmun_common .ScrollBox {
    margin: 20px 10px 10px 10px;
}

.colmun_common span {
    margin: 19px 10px 0 10px;
}

.colmun_common span.file_select {
    margin: 20px 10px 0 10px;
}

.colmun_common p {
    margin: 20px 10px 14px 10px;
}

.colmun_common label {
    margin: 19px 0px 9px 10px;
    font-size: 20px;
    font-weight: bold;
}

.colmun_common label.first_file_label {
    margin: 40px 0px 5px 10px;
}

.colmun_common input {
    font-size: 20px;
}

.colmun_common select {
    font-size: 20px;
}

.colmun_common input.date {
    font-size: 18px;
    width: 100%;
}

.search_colomn {
    width: 200px;
}


/*完了メッセージ*/
.compelete-message {
    font-size: large;
    top: 80px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    margin-top: 85px;
    margin-left: 5px;
    background-color: #B4C7E7;
    color: #003366;
}

.non_compelete-message {
    font-size: large;
    top: 80px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    margin-top: 85px;
    margin-left: 5px;
}


/*ページタイトル*/
.title {
    color: #003366;
}

/*メニューボタン*/
.menu {
    width: 40px;
    height: 40px;
    background-color: #0099CC;
    position: absolute;
    top: 80px;
    border-radius: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    position: fixed;
    z-index: 5002;
}


.span-container,
.checkbox {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox {
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 100;
    width: 60px;
    height: 60px;
    left: 0px;
}

.span-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    z-index: 90;
}

.span-container span {
    width: 100%;
    height: 3px;
    background: white;
    transition: all 250ms ease-out;
    transform-origin: 0 0;
}

.checkbox:checked~.span-container span:nth-last-child(1) {
    transform: rotate(-45deg) translate(-1px, 0px);
}

.checkbox:checked~.span-container span:nth-last-child(2) {
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
}

.checkbox:checked~.span-container span:nth-last-child(3) {
    transform: rotate(45deg) translate(0px, -1px);
}

.nav-container {
    position: fixed;
    left: 0;
    top: 80px;
    width: 20%;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #0099CC;
    transition: all 250ms ease-out;
    transform: translateX(-100%);

    a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin: 1rem auto;
    }



    h1 {
        color: white;
    }

    a:hover {
        color: #003366;
    }
}

.checkbox:checked~.nav-container {
    transform: translateX(0%);
}

/*テーブル*/
table {
    width: 100%;
    border-collapse: collapse;
    color: #003366;
}

thead tr {
    background-color: #ACE5E4;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1.8px solid #FFFFFF;
}

tr {
    /* 行をクリック可能にする */
    background-color: #F2F2F2;
}

table tr:nth-child(even) {
    background-color: #D9D9D9;
}

tr.retirement,
table tr:nth-child(even).retirement {
    background-color: darkgrey;
}

a:hover {
    color: #0b7dda;
}

/* 役職管理と所属管理のテーブルレイアウト */
.post-table,
.team-table {
    margin: auto;
    width: 600px;
    border-collapse: collapse;
    color: #003366;
}

.post-table thead tr,
.team-table thead tr {
    background-color: #ACE5E4;
}

.post-table th,
.post-table td,
.team-table th,
.team-table td {
    padding: 10px;
    text-align: center;
    border: 1.8px solid #FFFFFF;
    /*     役職と所属のテーブル列幅を統一 */
}

.post-table #th1,
.team-table #th1 {
    width: 10%;
    /*     役職と所属のテーブル列幅を統一 */
}

.post-table #th2,
.team-table #th2 {
    width: 20%;
    /*     役職と所属のテーブル列幅を統一 */
}

.post-table #th3,
.team-table #th3 {
    width: 70%;
    /*     役職と所属のテーブル列幅を統一 */
}

.post-table tr,
.team-table tr {
    background-color: #F2F2F2;
}

.post-table tr:nth-child(even),
.team-table tr:nth-child(even) {
    background-color: #D9D9D9;
}

.post-table tr.retirement,
.team-table tr.retirement,
.post-table tr:nth-child(even).retirement,
.team-table tr:nth-child(even).retirement {
    background-color: darkgrey;
}

/*スクロールボックス*/
.ScrollBox {
    overflow: auto;
    width: 300px;
    height: 100px;
    border: 1px black solid;
    margin-left: 10px;
}

.overflow {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.ScrollBox input {
    margin-top: 2px;
}

.ScrollBox.search {
    width: auto;
    height: 120px;
}

/* ヘッダーの固定 */
thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ACE5E4;
}

/*ボタン*/
.button {
    align-items: center;
    width: auto;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 5px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.white {
    background-color: #FFFFFF;
    color: #003366;
    border: solid 1px #003366;
}

.colmun_button {
    padding: 8px 5px;
    width: 30%;
}

.dl {
    background-color: #99CCFF;
    color: #003366;
    border: none;
}

.button:hover {
    background-color: #1579c0;
}

.button.white:hover {
    background-color: #cccccc;
}

.button.dl:hover {
    background-color: #98BAED;
}

.paging {
    padding: 10px;
    text-align: center;
}

input:disabled {
    background: #ccc;
}

.button:hover:disabled {
    background-color: #ccc;
}

.del_button {
    display: flex;
}

label.file_label {
    align-items: center;
    width: auto;
    margin: 0;
    padding: 10px 60px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #2589d0;
    cursor: pointer;
}

label.file_label:hover {
    background-color: #1579c0;
}

input[type="file"] {
    display: none;
}

.minus {
    padding: 2px 7px 0 7px;
    border: none;
    background-color: red;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 50%;
    /*角丸*/
}

.file_select a {
    margin: 0;
    color: #003366;
}

.left_label.join-button {
    width: 70px;
}

@media screen and (max-width: 767px) {
    .left_label.join-button {
        width: 200px;
    }
}

/*現職者のみ・退職者含む切り替えボタン*/
.user_type {
    text-align: right;
    margin-bottom: 10px;
}


/*入力・FORM系*/
.Form_layout {
    display: flex;
    overflow: hidden;
}

.Form_layout label {
    font-size: 25px;
    font-weight: bold;
}

.Form_layout .textbox {
    margin-left: 30px;
    font-size: 20px;
}

label.input_label {
    font-weight: normal;
    font-size: 17px;
    margin-left: 0px;
}

/*参加者選択ダイアログ関連のCSS 担当：髙橋*/
.modal {
    display: none;
    position: fixed;
    z-index: 5003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #D9D9D9;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    height: 500px;
    display: flex;
    position: relative;
}

.list_container {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: auto;
}

.button_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.toggle_button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
}

.toggle_button:hover {
    background-color: #0b7dda;
}

/* 非活性状態のボタン */
.toggle_button:disabled {
    /* 非活性状態の背景色 */
    background-color: #ccc;
    /* 非活性状態の文字色 */
    color: #8e8e8e;
}

.participant_list {
    padding: 0;
    display: none;
    overflow-y: auto;
    height: 450px;
    border-top: 1px solid black;
}

.participant_list li {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

.participant_list li:hover {
    background-color: #f0f0f0;
}

.participant_detail_list {
    padding: 0;
    margin: 0 auto;
    display: none;
    overflow-y: auto;
    overflow-x: auto;
    height: 140px;
    /* 通常の「・」マーカーを表示 */
    list-style-type: disc;
    /* 左側に少し余白を追加して見た目を整える */
    padding-left: 30px;
    white-space: nowrap;
}

.participant_detail_list li {
    cursor: pointer;
    padding: 2px;
}

.participant_detail_list li:hover {
    background-color: #f0f0f0;
}

/* マーカー（・）の色を変更 */
.participant_detail_list li::marker {
    color: greenyellow;
    /* 任意の色に変更 */
}

.active {
    display: block;
}

.detail_container {
    width: 58%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.detail_list {
    flex: 0.8;
    background-color: white;
    border: 1px solid black;
}

.selected_container {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.selected_container h3 {
    margin: 0;
    padding-left: 10px;
    position: sticky;
    top: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
}

.selected_list {
    border: 1px solid black;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
    flex-grow: 1;
    white-space: nowrap;
}

#selectedList {
    margin: 2px;
    padding-left: 30px;
}

#selectedList li {
    padding: 2px;
}

/* マーカー（・）の色を変更 */
.selected_list li::marker {
    /* 任意の色に変更 */
    color: red;
}

.selected_list li:hover {
    background-color: #f0f0f0;
}

.external_selected_container {
    position: relative;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
    flex-grow: 1;
    border: 1px solid black;
    background-color: white;
    display: none;
}

.external_selected_list {
    background-color: white;
    white-space: nowrap;
    /* リストアイテムを横並びにする */
    flex-grow: 1;
    padding: 0;
}

#externalSelectedList {
    margin: 2px;
    padding-left: 30px;
}

#externalSelectedList li {
    padding: 2px;
}

.complete_button {
    position: absolute;
    bottom: -56px;
    right: 0px;
    padding: 0 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.complete_button:hover {
    background-color: #ccc;
}

/*参加者確認ドロップダウン関連のCSS 担当：髙橋*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    align-items: center;
    width: auto;
    margin: 0;
    padding: .9em;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    background-color: #99CCFF;
    color: #003366;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    max-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5004;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content label {
    display: block;
    padding: 5px 0;
    margin: 0;
    text-align: left;
}

.dropdown-content input {
    margin-right: 10px;
}

.show {
    display: block;
}

.dropdown-button:hover {
    background-color: #1579c0;
}